.services__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  justify-items: center;
}
.services {
  background: var(--color-bg);
  border-radius: 2rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  height: fit-content;
  transition: var(--transition);
}
/*.services:hover {
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  background: var(--color-primary);
  color: var(--color-bg);
}*/
.service__head {
  background: var(--color-primary);
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

.service__head h3 {
  color: var(--color-bg);
  font-size: 1rem;
  text-align: center;
}
.service__list li {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}
.service__list-icon {
  margin-top: 5px;
  margin-left: 1rem;
}
.service__list p {
  font-size: 0.9rem;
}

/* for tablets screens */
@media (max-width: 1024px) {
  .services__container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .service {
    height: auto;
  }
}

/* for mobile devices */
@media (max-width: 600px) {
  .services__container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
