.about__container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}

.about__me {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  display: grid;
}

.about__me-image {
  border-radius: 3rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
}
.about__me-image:hover {
  transform: rotate(0deg);
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.about__icon {
  background: var(--color-primary);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  color: var(--color-bg);
  transition: var(--transition);
}

.about__icon:hover {
  border-color: var(--color-primary-varient);
  color: var(--color-black);
}
.icon {
  width: 3rem;
  height: 3rem;
  color: var(--color-bg);
}

.about__content p {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

/* MEDIA QUIRIES*/
@media (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .about__me {
    width: 50%;
    margin: 2rem;
  }
}

@media (max-width: 600px) {
  header {
    height: 100vh;
  }
  .header__socials {
    display: none;
  }
}
