header {
  height: 100vh;
  padding: 7rem;
  overflow: hidden;
}
header_container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* CTA*/
.cta {
  margin-top: 1rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}
/* header_socoals*/
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 5rem;
  bottom: 3rem;
}
.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}
.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 25rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 3rem;
  overflow: hidden;
  /* border-radius: 12rem 12rem 0 0; */
  border-radius: 3rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  transition: transform 500ms;
}
.me:hover {
  transform: translateY(-10px);
}

.scroll__down {
  position: absolute;
  right: 2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 200;
  font-size: 0.9rem;
}

/* MEDIA QUIRIES*/
@media (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

@media (max-width: 600px) {
  header {
    height: 100vh;
  }
  .header__socials {
    display: none;
  }
}

.music {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
