footer {
  margin-top: 10rem;
  background: var(--color-primary-varient);
  padding: 7rem;
  text-align: center;
  font-size: 0.9rem;
}
.footer__logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
}
.permailinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}
.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}
.footer__socials a {
  background: var(--color-bg);
  color: var(--color-light);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
}
/* MEDIA QUIRIES*/

/*for mobiles*/

@media (max-width: 600px) {
  .permailinks {
    flex-direction: column;
    gap: 1.5rem;
  }
  .footer__socials {
    margin-bottom: 2.6rem;
  }
}
